html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 62.5%;
    background-color: green;
}

.nav-top {
    height: 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.nav-top ul {}

.nav-top li {
    list-style: none;
    display: inline-block;
}

.nav-top li+li {
    margin-left: 25px;
}

.twitter-logo {
    padding-right: 10px;
}

.nav-top li a {
    font-size: 1.3em;
    text-decoration: none;
    color: #66757F;
}

.accueil {
    display: inline-block;
    margin-bottom: 15px;
}

.twitter-logo, .accueil {
    vertical-align: middle;
}

.nav-top--container {
    width: 1024px;
    height: inherit;
    margin: auto;
    overflow: hidden;

}
